[Unit]
Description=E-Ink Display
After=network-online.target
Wants=network-online.target

[Service]
User=<user>
WorkingDirectory=/home/<user>/einkdisplay
ExecStart=/home/<user>/einkdisplay-venv/bin/python -u main.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
